

.task-container{
    width: 550px;
    height: 275px;
    border: 1px solid black;
    Margin: 20px;
}

.task-container_completed{
    padding: 10px;
}

.task-container_information{
    padding: 10px;
}

.task-container_date{
    padding: 10px;
}

.task-container_category{
    padding:10px;
}

task-container_button{
    padding:10px;
}


.button-container{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 15px;
}

.button-container_delete{

}
